# Python
__pycache__/
*.pyc
.venv/
venv/
.pytest_cache/

# Secrets (НИКОГА в git!)
.env
.env.local
*.env

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars

# IDE
.vscode/settings.json
.idea/

# OS
.DS_Store
Thumbs.db
